<h1>These are some cool duckys:</h1>

<ul>
  <% @ducks.each do |duck| %>
    <li> <%= link_to duck.name, duck_path(duck.id) %> </li>
  <% end %>
</ul>

<br><br>
<p><%= link_to 'Make a New Duck for a Student', new_duck_path %> | <%= link_to 'Students Main', students_path %></p>
